*{
    margin: 0;
    padding: 0cm;
}
.navbar{
    display: flex;
    
}
.logo img{
    border: 3px solid red;
}
.navlist{
width: 50%;
background-color: yellow;

}
.navlist li{
    display: flex;
    list-style: none;
}


.rightnav {
    background-color: aquamarine;
    text-align: right;
    width: 50%;
}

a{
    text-decoration: none;
}